body{
    font-family: Rubik, Arial, sans-serif;
}
#maindiv{
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 60px;    
}
#child1{
    width: 30%;
    height: 75vh;
    background-image: url(about.jpg);
    background-position: center;
    color: white;
    background-color: #FFFFFF;
    padding: 0px 30px;
    margin: 0px 40px;
}

#child1 p{
    border-bottom: 2px solid #768084;
    padding: 10px;
   
}
#child1 h4{
    margin-top: 20px;
    padding: 20px;
    background-color: #FDB82C;
    text-align: center;
    
}
#child1 h5{
    padding-left: 5px;
    line-height: 25.2px;
}

#child2 p{
    color: rgb(153, 153, 153);
    font-size: 16px;
    line-height: 28.8px;
}

#child2 h4 , .items h4{
    color: #42a86b;
    letter-spacing: 2px;
}

#child3{
    display: flex;
    gap: 50px;
}
.items{
    border: 2px solid rgb(235, 235, 235);
    padding: 10px;
    text-align: center;
}